/* ------------------------ Global ------------------------ */


/* ------------------------ Section 1 ------------------------ */
.socialbar .nav-link {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-weight: bold;
    font-size: 0.8rem;
}

.socialbar .nav-link:hover {
    background: #ccc;
}

.socialbar .half1 {
    width: 50%;
    float: left;
}

.socialbar .half2 {
    width: 50%;
    float: left;
}

@media only screen and (max-width:768px) {
    .socialbar .half1 {
        width: 100%;
        float: none;
        margin: 0 auto;
    }
}

.socialbar .nav-link img {
    width: 1rem;
}

.socialbar .dropdown-item img {
    width: 1rem;
}

.navbar {
    float: none;
    width: 100%;
}

.navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-nav .nav-link.active {
    color: rgba(240, 160, 11, 0.993);
}

.navbar .btn-cl {
    background: orange;
    color: white;
    border-color: orange;
    font-weight: bold;
    font-size: 0.8rem;
}

.navbar .btn-cl:hover {
    background: darkgray;
    border-color: darkgray;
    position: relative;
    top: -3px;
}

.navbar {
    font-weight: bold;
    font-size: 0.8rem;
}

.hide {
    opacity: 0;
    max-height: 0;
}

#trigger {
    position: absolute;
    left: -999em;
}

#container input[type="checkbox"]:checked+div {
    max-height: 99em;
    opacity: 1;
    height: auto;
    overflow: hidden;
}

.section1 {
    background-image: url("../img/img1.jpg");
    background-size: 100%;
    height: 750px;
    background-origin: border-box;
    background-repeat: no-repeat;
}

.slogen {
    width: 45%;
    float: left;
}

.slogen .redy {
    color: orange;
    border: 1px solid orange;
    background: none;
    border-radius: 3px;
    display: inline-block;
}

.slogen .redy p {
    padding: 10px;
    line-height: 10px;
    margin-bottom: 0;
}

.slogen .improve {
    font-size: 3.5em;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
}

.slogen .bst {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #ccc;
    font-size: 1.4rem;
}

.slogen .pcl {
    color: orange;
}

.slogen .lor {
    font-size: 1.5rem;
    color: gray;
}

@media only screen and (max-width:992px) {
    .slogen {
        width: 70%;
        margin-left: 0;
    }
    .slogen .improve {
        font-size: 2rem;
    }
    .slogen .bst {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: black;
        font-size: 1rem;
    }
    .slogen .lor {
        font-size: 1rem;
        color: black;
    }
}

@media only screen and (max-width: 768px) {
    .slogen {
        width: 100%;
        margin-left: 0;
    }
    .slogen .improve {
        font-size: 1.5rem;
        margin: 0;
    }
    .slogen .bst {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: black;
        font-size: 0.7rem;
    }
    .slogen .lor {
        font-size: 0.7rem;
        color: black;
    }
}

.slogen .btn-cl {
    background: orange;
    color: white;
    border-color: orange;
    font-weight: bold;
    font-size: 0.8rem;
}

.slogen .btn-gr {
    background: none;
    color: black;
    border-color: #ccc;
    font-weight: 400;
    font-size: 0.8rem;
}

.slogen .btn-cl:hover {
    background: darkgray;
    border-color: darkgray;
    color: white;
    position: relative;
    top: -3px;
}

.slogen .btn-gr:hover {
    background: white;
    color: black;
    position: relative;
    top: -3px;
}

/* ------------------------ Section 2 ------------------------ */

.logos {
    height: 100px;
}


/* ------------------------ Section 3 ------------------------ */

/* ------------------------ Section 4 ------------------------ */

/* ------------------------ Section 5 ------------------------ */

/* ------------------------ Section 6 ------------------------ */

/* ------------------------ Section 7 ------------------------ */

/* ------------------------ Section 8 ------------------------ */

.section8 .Latesta .redy {
    color: orange;
    border: 1px solid orange;
    background: none;
    border-radius: 3px;
    display: inline-block;
}
.section8 .Latesta .redy p {
    padding: 10px;
    line-height: 10px;
    margin-bottom: 0;
}

.heading-block {
	margin-bottom: 50px;
}
.Latesta {
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center !important;
}
.Latesta h3{
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
}


/* ================= */
.row {
    margin: 200px;
}
.entry {
    position:relative;
    margin:0 0 50px
}
.entry-image {
    margin-bottom:30px
}
.entry-image, .entry-image .slide a, .entry-image img, .entry-image>a {
    display:block;
    position:relative;
    width:100%;
    height:auto
}
.entry-image img {
    border-radius:3px
}
.entry-title h3 {
    margin:0;
    font-size:24px;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:1px;
    color: #333
}

.entry-meta {
    margin:10px -10px -15px 0;
    list-style:none
}

/* ========== */

/* ------------------------ Section 9 ------------------------ */

/* ------------------------ Section 10 ------------------------ */


