.buton {
    background-color: #feb650;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buton1 {
    background-color: white;
    color: #feb650;
    border: 3px solid #feb650;
    border-radius: 5px;
    font-weight: bold;
}

.buton1:hover {
    background-color: #feb650;
    color: white; 
}


.services .h1{
    font-weight: bolder;
    font-size: 30px;
}
.services p.headline{
    width: 28%;
    margin: 0 auto;
    line-height: 2em;
    color: #7d7d7d;
}
.services .card-title{
    font-weight: bolder;
    padding-right: 0;
    font-size: 14px;
    
}
.services .card-text{
    color: #999;
    font-size: 12px;
    line-height: 2em;
    padding-left: 30px;
   
    
}
.services img{
    max-width: 100%;
}

.services .h1{
    font-weight: bolder;
    font-size: 30px;
}
.services p.headline{
    width: 28%;
    margin: 0 auto;
    line-height: 2em;
    color: #7d7d7d;
}
.services .card-title{
    font-weight: bolder;
    padding-right: 0;
    font-size: 14px;
    
}
.services .card-text{
    color: #999;
    font-size: 12px;
    line-height: 2em;
    padding-left: 30px;
   
    
}
.services img{
    max-width: 100%;
}

.fa-check-circle {
    color: orange;
}

.main-btn{
    background-color: #FE9A04!important;
    color: #fff!important;
    font-size: 0.9em!important;
    transition: all 0.3s ease-in-out!important;
}
.main-btn:hover{
    background-color:  #fff!important;
    border: 1px solid #FE9A04!important;
    color:#FE9A04!important;
    font-size: 0.9em!important;
}

.btn{
    border: 1px solid #7d7d7d;
}

.card-img-top { 
    width: 64px!important
}

.buton2 {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px;
}

.buton22 {
    width: 100%
}

.services .card-text { 
    padding-left: 0!important;
}


#marginfix {
    margin-right: -20px;
    margin-top: 5px;
}


@media only screen and (min-width: 501px) and (max-width: 900px) {
    .col-3.text-right.mb-5.ml-5.mr-0 {
        display: none;
    }
#marginfix2 {
        margin-left: auto !important;
    }
    .col-4 {
        flex: 0 0 50%!important;
        max-width: 50%!important;
    }
    .col-9 {
        max-width: 60%!important;
        flex: 0 0 60%!important;
    }
    .col-3 {
        max-width: 30%!important;
        flex: 0 0 40%!important;
    }
    #col-44fix {
        flex: 0 0 33.33% !important;
        max-width: 33.33% !important;
        }
    #cardfixxx {
        flex: 0 0 33.33% !important;
        max-width: 33.33% !important;
        }
    .offset-2 {
            margin-left: 0%!important;
        }
    #cardfixxx {
    margin-top: auto!important;
    }
}

@media only screen and (max-width: 501px) {
    #marginfix2 {
        margin-left:  auto!important;
    }
    .col-4 {
        flex: 0 0 88%!important;
        max-width: 88%!important;
    }
    #mobilephone {
            display: flex;
            flex: 0 0 88%;
            max-width: 88%;
            margin-left: 1rem !important;
    }
    #col-44fix {
    flex: 0 0 88% !important;
    max-width: 88% !important;
    margin: 0 auto;
    }
    #cardfixxx {
    flex: 0 0 88% !important;
    max-width: 88% !important;
    margin-top: 1rem !important;
    margin: 0 auto;
    }
    .services p.headline {
    width: 84%;
    }
}    

@media only screen and (min-width: 501px) and (max-width: 768px) {
    #cardfixx2 {
        font-size: 0.88rem;
    }