.socialbar .nav-link {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
}

.socialbar .nav-link:hover {
    background: #ccc;
}

.socialbar .half {
    width: 50%;
    float: left;
}

.socialbar .nav-link img {
    width: 1rem;
}

.socialbar .dropdown-item img {
    width: 1rem;
}

.navbar {
    float: none;
    width: 100%;
}

.navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-nav .nav-link.active {
    color: rgba(240, 160, 11, 0.993);
}

.navbar .btn-cl {
    background: orange;
    color: white;
    border-color: orange;
    font-weight: bold;
    font-size: 0.8rem;
}

.navbar .btn-cl:hover {
    background: darkgray;
    border-color: darkgray;
}

.navbar {
    font-weight: bold;
    font-size: 0.8rem;
}

.hide {
    opacity: 0;
    max-height: 0;
}

#trigger {
    position: absolute;
    left: -999em;
}

#container input[type="checkbox"]:checked+div {
    max-height: 99em;
    opacity: 1;
    height: auto;
    overflow: hidden;
}

.section1 {
    background-image: url("img/img1.jpg");
    background-size: 100%;
    background-origin: border-box;
}